<h2 mat-dialog-title class="heading">CHOOSE A HOMEWORLD</h2>
<mat-dialog-content id="dialogBox">
  <h3 class="heading">Homeworld Defines Origin</h3>
  <p class="descText">Your character's homeworld is a statement of your place of origin. Even though home worlds aren't
  homogenous, they represent where your home and family will be located during the duration of the game, unless you buy
  a home on another planet or space station.</p>

  <h3 class="heading">Earth</h3>
  <p class="descText">Earth is home to Humans, first settled by Solanan's thousands of years ago. Earth is a temperate
  world, however, due to over a century of toxic use of resources - parts of the planet have become uninhabitable. Despite
  this, many alien populations have found Earth pleasurable, though nation-state hostilities towards them keeps many
  non-Human populations to themselves. Earth has 7 continents with 1 global ocean consisting of 5 ocean basins (Atlantic,
    Pacific, etc).</p>

  <h3 class="heading">The Moon</h3>
  <p class="descText">The Moon is home to Androids, though there is a small settlement that houses various species who
  are mostly there for travel or business. Those who call The Moon home are those looking for peace and political
  consistency absent of national/ethnic/religious disputes common in territories dominated by organic lifeforms. The
  Moon has no water supply, and Androids don't need water. So organic beings that live on The Moon depend heavily on supply
  lines being protected from Pirates. The Moon contains 2 large domed settlements for organics that can each hold a
    population of 1 million.</p>

  <h3 class="heading">Mars</h3>
  <p class="descText">The first planet colonized by Humans after leaving Earth was Mars. With the aid of Solanan technology,
  the Martian atmosphere is being terraformed to be more habitable for Humans and Solanan's alike. The EPU (Earth's Planetary
  Union) agreed to give the Solanan's a large swath of Mars' uninhabited land as a thank you for their protection.</p>

  <h3 class="heading">Martian One</h3>
  <p class="descText">Martian One is a space station that hovers above Mars and is home to a wide range of beings. Since
   the Broman attack on Earth in 2150 and Earth's subsequent entering into the Solanan Independent Worlds pact, its solar system
    has become a hotbed of activity. Martian One is known for its free-spirited culture and loose rules. This has given
  Martian One a reputation that it attracts the wrong elements. Due to this, there are more than a few Pirates and Hackers
  who call this space station home.</p>

  <h3 class="heading">Solana</h3>
  <p class="descText">Solana is the seat of power in all of Free Space with four times the landmass of Earth. Unlike Earth,
  there is no global ocean system, but 17 large lakes spread across the planet, some of which are connected by river systems.
    For thousands of years, Solana was ruled by an interstellar monarchy. This monarchy seeded dozens of worlds during its
  reign, which included Earth. They also made lots of enemies like the Bromani who had worlds of their own that the monarchy
  looked to conquer. The monarchy has long been toppled, however, Solana is now a collective of independent nation-states.
  Solanan's are very welcoming of Humans and most mild-mannered aliens.</p>

  <h3 class="heading">The Kitolan World Ship</h3>
  <p class="descText">The Kitolan World Ship rests between Mars and Jupiter, using its massive interstellar Navy to mine
  asteroids from the asteroid belt for rare resources and minerals. The Kitolans, formerly subjugated by the Broman Empire,
  are a secluded people. Because of this, the World Ship is not very welcoming to others. Not to say its inhabitants are
  violent or oppressive, they just want to be left alone. However, they do allow small enclaves of Humans, Solanans, Androids,
  and others to settle on one of the designated wings of the World Ship. The World Ship has more surface area than Earth's
    moon and has a cylindrical shape like a Dyson sphere.</p>
</mat-dialog-content>
