<h2 mat-dialog-title class="heading">CHOOSE A CLASS</h2>
<mat-dialog-content id="dialogBox">
  <h3 class="heading">Class Defines Profession</h3>
  <p class="descText">Your character's class represents your field of expertise and defines how you have chosen to hone your
  skills and talents. Your class is less like a job, and more akin to a life path. When couple with your chosen history,
  you have what is your archetype. Your chosen class will determine how most non-player characters in Earth War interact
    with you. Unlike other RPG's, your class doesn't just influence your abilities, but also your dialogue options and
  special endings.</p>

  <h3 class="heading">The Mechanaut</h3>
  <p class="descText">Carrying massive weapons and donning the heaviest armors, you are the most feared person on any
  battlefield. It doesn't matter whether you're equipped with a power suit that hugs your body, or a pilot in a massive
  mecha - your presence looms largest amongst any crowd. Free Spacers seek the aid of a Mechanaut when there is a tough
    fight ahead and the threat of grave danger.</p>

  <h3 class="heading">The Void Walker</h3>
  <p class="descText">The Void is a pocket dimension that is called the 'World between Worlds.' Every culture on every
  planet has its own interpretation of 'The Void.' However, as a Void Walker, you dabble in powers that most fear. What
  Humans of Earth once regarded as 'magic,' you know to be a subtle reality full of energies and powers that you have
  only scratched the surface of understanding. Free Spacers seek the aid of Void Walkers when they want to learn more about
  the mystic arts or seek protection from something they cannot see. There are some planets that ban 'void work' due to
  fear of a Nexus collapse.</p>

  <h3 class="heading">Officer</h3>
  <p class="descText">Free Space can be a chaotic and dangerous place. As an Officer, you chose the path of order and security
  which makes you one of the most sought after people this side of the Milky Way. As an Officer, you have the respect of
  countless soldiers and planetary leaders. Whatever major event threatens the safety of Free Space, especially the interests
  of those you work with and their territories, you are involved in the decisions on how to handle that threat.</p>

  <h3 class="heading">Assassin</h3>
  <p class="descText">It has been known that there are clans of Assassins for generations, though no living man who
  values his life would cross an Assassin to find one. It is believed the schools where Assassins are trained exist in
  the most secluded pockets of Free Space, for instance on uninhabited planets and desolate moons. As an Assassin in the
  field, secrecy is your greatest strength - the shadows your closest ally.</p>

  <h3 class="heading">Rogue</h3>
  <p class="descText">As a Rogue, you have chosen the path of independence and liberation. You are skilled in sabotage
  and subterfuge and use your talents to help those in need or enrich your token wallets. Free Spacers seek the aid of
  Rogue's when their backs are against the wall and a powerful message needs to be sent or when they are in the need of
  quick assistance.</p>
</mat-dialog-content>
