
#dialogContainer {
  //background: #ffdecc;
}

.heading {
  text-align: center;
  font-size: 25px;
  font-family: "Corsiva Hebrew", sans-serif;
}

.descText {
  font-size: 18px;
  line-height: 1.3;
}

mat-dialog-content {

}

.mat-dialog-container {

}

#dialogBox {
  font-family: Futura, fantasy;

}

