
  <h2 mat-dialog-title class="heading">HISTORY</h2>
  <mat-dialog-content id="dialogBox">
    <h3 class="heading">History Defines Identity</h3>
    <p>Defining your character's history is one of the most critical creation decisions you can make
      in the Earth War ecosystem. It establishes your character's background, your upbringing, training,
      and your claim to fame. Your history defines why you are important to Free Space and plays a role in
      your ultimate destiny.</p>

    <h3 class="heading">The Space Explorer</h3>
    <p>The area of Free Space is massive and is 3,000 light years in length and 1,500 lights years in width. As a Space
      Explorer, your role is to be the first to discover what others have missed. Whether for your own personal gain
      or at the request of a client, the exploration of space brings unique risks with only the slightest chance of reward.
      Space Explorers are most opposed to Pirates who stealthily track their movements in the hopes of robbing them blind.</p>

    <h3 class="heading">The Scientist</h3>
    <p>ENTER HERE</p>

    <h3 class="heading">The Soldier</h3>
    <p>ENTER HERE</p>

    <h3 class="heading">The Hacker</h3>
    <p>ENTER HERE</p>

    <h3 class="heading">The Pirate</h3>
    <p>ENTER HERE</p>
  </mat-dialog-content>


