
#dialogContainer {
  background: #ffdecc;
}

.heading {
  text-align: center;
  color: black;
  background: #ffdecc;
  //background: #ffdecc;
}



mat-dialog-content {
  background: #ffdecc;
  color: black;
}

.mat-dialog-container {
  background: #ffdecc;
  color: black;
}

#dialogBox {
  font-family: Futura, fantasy;
  background: #ffdecc;
  color: black;
}

