<h2 mat-dialog-title class="heading">HISTORY</h2>
  <mat-dialog-content id="dialogBox">
    <h3 class="heading">History Defines Identity</h3>
    <p class="descText">Defining your character's history is one of the most critical creation decisions you can make
      in the Earth War ecosystem. It establishes your character's background, your upbringing, training,
      and your claim to fame. Your history defines why you are important to Free Space and plays a role in
      your ultimate destiny.</p>

    <h3 class="heading">The Space Explorer</h3>
    <p class="descText">The area of Free Space is massive and is 3,000 light years in length and 1,500 lights years in width. With a Space
      Explorer history, your role is to be the first to discover what others have missed. Whether for your own personal gain
      or at the request of a client, the exploration of space brings unique risks with only the slightest chance of reward.
      Space Explorers are most comfortable around Scientists, and are most opposed to Pirates who stealthily track their
      movements in the hopes of robbing them blind.</p>

    <h3 class="heading">The Scientist</h3>
    <p class="descText">What good would thousands of worlds be if 'Free Space' didn't have the scientists capable of harnessing the power
    of those worlds? As a scientist, you understand the nature of life, physics, chemicals, and reality. Scientists have
    designed the vehicles used to transport goods from planet to planet. They designed the weapons you will use and the
    armor you will wear. Scientists designed the medi-packs that will heal you, and scientists of the Void Walker path
    even discovered how to revive the dead! As a scientist, you are only limited by your imagination. Scientists are most
    comfortable around Space Explorers and most opposed to Pirates.</p>

    <h3 class="heading">The Soldier</h3>
    <p class="descText">Where there is wealth to be made, scores to settle, people to exploit or protect - there will be a need for soldiers.
    Soldiers serve as the core of most inter-planetary, non-civilian organizations. As a soldier, you are reliable and
    trained in the art of combat and warfare. You are the protector, but you will choose who is worthy of protection. There
    will always be a need for soldiers with guns, but you will be in a direct position to determine who is helped and who
    is hurt. Soldiers are most comfortable around Space Explorers, and are most opposed to Pirates and Hackers.</p>

    <h3 class="heading">The Hacker</h3>
    <p class="descText">With a background in hacking, you have mastered the skill of hiding your tracks and finding
    exploits in vulnerable networks. You use this skill to your advantage because data is valuable. No matter if it's
    a corrupt planetary leader or shady organization with ties to trafficking - or simply the location of hidden wealth -
    you will find someone willing to pay for the sensitive information you can provide. Perhaps you will take the goods
    for yourself. It is up to you how you choose to use your history as a Free Space hacker. Hackers are most opposed to
    Soldiers.</p>

    <h3 class="heading">The Pirate</h3>
    <p class="descText">The Pirate marketplace is the largest black market ever built. So secret is its location that
    rumors have been spread far and wide of Pirate-Assassins, the Blood Thieves, who will end the life of any
    person who discovers it. As a Pirate, you live by your own code and forge your own path. You've lived a dangerous
    life and have rubbed elbows with some of the darkest beings in Free Space, but it's all worth it since you are both
    feared and respected. Will you steal from the rich to give to the poor, or will you steal for your own gain? The
    choice is yours. Pirates are most comfortable around Hackers and are most opposed to Soldiers.</p>
  </mat-dialog-content>


