<h2 mat-dialog-title class="heading">CHOOSE A SPECIES</h2>
<mat-dialog-content id="dialogBox">
  <h3 class="heading">Species Defines Biological Origin</h3>
  <p class="descText">Your character's species is one of the foundational decisions you will make in Earth War. This is
  the first thing character's will see as you approach them.</p>

  <h3 class="heading">Human</h3>
  <p class="descText">Humanity is considered the pinnacle of Solanan success, considering so many of their colony worlds
  were destroyed either by the Broman army, natural disaster or civil war. Earth too would've been destroyed by the Broman
  Empire during the 'First Contact War' which began in 2149 had the Solanans not intervened. Humans are hardy survivors
    and are no longer underestimated by more advanced alien races. While not the strongest or most intelligent, Humans
  have the potential to shape Free Space.</p>

  <h3 class="heading">Solanan</h3>
  <p class="descText">Solana is only a mere 10 light years from Earth, which is right next door in a galactic sense. This
  has kindled a close kinship between Solanans and Humans, especially since Humans are genetically-related to Solanans. When
  the Solanan monarchy seeded Earth, Solanan scientists mixed their DNA with that of planetary apes - making Solanans distant
  cousins. Solanans are humanoid in makeup, but are taller and stronger than Humans due to centuries of genetic enhancements.
   However, Solanans also carry some of the less ideal personality traits found in Humans.</p>

  <h3 class="heading">Android</h3>
  <p class="descText">Androids are the backbone of most intergalactic workforces and some are known to have an artificial
  intelligence that is superior to that of Humans and other organic species.</p>

  <h3 class="heading">Kitolan</h3>
  <p class="descText">Kitolans are a short semi-aquatic species hailing from a world called Exxora which was overtaken by
  the Broman army many centuries ago. The Kitolans were subjugated and persecuted for generations before achieving freedom
  and fleeing the Broman home world on stolen spaceships that they used to reach Solanan space.</p>

  <h3 class="heading">Broman</h3>
  <p class="descText">The Bromans would say that they are misunderstood. That they themselves are responding to centuries
    of aggression from the old Solanan imperial monarchy.</p>
</mat-dialog-content>
